<form method="GET" action="/rooms">
  <input type="text" class="form-control input-lg" placeholder="MC 2054" id="room" name="room">

  <button type="button" class="btn btn-primary" id="find_button">Find schedule <span class="glyphicon glyphicon-chevron-right"></span></button>
</form>