@import 'sticky-footer.css';

body {
  font-size: 16px;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul.classes li {
  padding: 15px;
}

h3 {
  font-size: 115%;
  margin: 0;
}

.time {
  float: right;
}

#find_button {
  float: right;
  margin-top: 10px;
}